.article, .comment-section {
    margin: 2rem;
    display: flex;
    flex-direction: column;
}

h2 {
    padding: 0;
}

#article-topic {
    width: 6rem;
    margin: 1rem 0;
}

#article-body {
    margin: 1rem 0;
}

#article-title {
    margin: 1rem 0;
    font-weight: 800;
    font-size: 1.5rem;
}

.date-and-author {
    color: rgb(221, 50, 50);
}

#article-date {
    font-weight: 600;
}

.article-author {
    display: flex;
    align-items: center;
}

#article-username {
    padding-left: 0.5rem;
}

.comment-section ul {
    list-style: none;
}

.comment-section ul li {
    background-color: rgb(226, 225, 225);
    margin: 0.5rem 0;
    padding: 0.5rem;
    border-radius: 1rem;
    width: 50rem;
}

.comments-header {
    font-weight: 800;
    font-size: 1.5rem;
}

#comment-author {
    margin-top: 0.8rem;
    font-weight: 700;
}

#comment-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#deleteComment-icon:hover {
    color:rgb(221, 50, 50);
}

#deleteComment-icon {
    float: right;
}

.voting-section {
    display: flex;
    margin: 2rem;
}

.voting-section p {
    padding: 0 1rem;
}

.vote-button {
    color:rgb(221, 50, 50);
}

.alert-message {
    position: fixed;
    width: 100%;
    top: 0;
}