header {
    display: flex;
    background-color: rgb(221, 50, 50);
    padding: 1.5rem;
    align-items: center;
    justify-content: space-between;
    color: white;
}

.header-icon {
    width: 1rem;
}

.header-link {
    color: white;
    text-decoration: none;
}

.header-link h1 {
    font-weight: 800;
    font-size: 2rem;
}


.header-link:hover {
    color: black;
}