.user-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

.user-page {
    padding: 2rem;
}

.user-list li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0.5rem;
    width: 8rem;
    justify-content: center;
    align-items: center;
}

.user-list li img {
    width: 6rem;
    height: 6rem;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid black
}

.user-list li img:hover {
    border: 5px solid rgb(221, 50, 50);
    cursor: pointer;
}

